<nav class="navbar navbar-expand-lg bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}"><img class="image-fluid" src="/static/image/logo.png" width="60px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'myPage' %}">MyPage</a>
        </li>
      </ul>
        <div class="justify-content-end">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        {% if user.is_authenticated %}
          <a class="nav-link text-white" href="{% url 'logout' %}">{{ user.username }} (로그아웃)</a>
        {% else %}
          <a class="nav-link text-white" href="{% url 'index' %}">로그인</a>
        {% endif %}
        </li>
        </ul>
        </div>

    </div>
  </div>
</nav>