{% extends 'base.html' %}
{% block content %}

<div class = "container">
  <div class="row">
    <div class="col-2">
    </div>
    <div class="my-5 col-8 card text-center border border-success">
      <h4>{{quiz_question}}</h4>
    </div>
    {% for choice in quiz_choices %}
      {% if choice != '' %}
        <form method="POST" action="">
          {% csrf_token %}
          <div class="row">
            <div class="col-2">
            </div>
              <input type="hidden" name="quiz_id" value="{{ quiz_id }}" />
              <input class="col-8 btn btn-success my-1" type="submit" name="chosen" value="{{ choice }}" />
          </div>
        </form>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}